<nav class="navbar navbar-expand-lg navbar-light" style="background-color:black">
  <h2 class="navbar-brand" style="color:orange;"><i class="fa fa-ravelry"></i> Infrom-nation</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/" style="color:orange"><i class="fa fa-home" style="font-size: 1.2em; color:orange"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:orange">
        <i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange"></i> User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/logout">Logout</a>
        </div>
      </li>
           <li class="nav-item">
          <a class="nav-link" href="/user/edit"> <i class="fa fa-edit ml-1" style="font-size:1.2em;"> </i> Edit profile</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn my-2 my-sm-0" type="submit"style="background-color:orange">Search</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row mt-3" style="background-color: black"> 
    <h3 class="welcome ml-auto mr-auto" style="color:orange">Welcome to administrator's profile page.</h3>
  </div>
  <div class="row" style="display:block">
    <div class="col-lg-4 col-md-3 col-sm-2">
    <form style="display:block;background-color:black; color:orange; margin-top:30px;"> 
      <lable>Dummby label</lable>
      <input placeholder="Some text">
      <br>
      <lable>Dummby label</lable>
      <input placeholder="Some text">
      <label style="display: block; margin:auto;">Click here to submit changes</label>
      <button style="display: block;">Click me</button>
    </form>
  </div>
  </div>
</div>