<nav class="navbar navbar-expand-lg navbar-light"  style="background-color:black">
  <h2 class="navbar-brand" style="color:orange;"><i class="fa fa-ravelry"></i> Infrom-nation</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color:orange">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/"  style="color:orange"><i class="fa fa-home" style="font-size: 1.2em; color:orange"></i> Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"  style="color:orange">
        <i class="fa fa-user ml-1" id="userIcon" style="font-size: 1.2em; color:orange"></i> User
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/user/profile">Profile</a>
          <a class="dropdown-item" href="/user/logout">Logout</a>
        </div>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/user/edit"  style="color:orange"> <i class="fa fa-edit ml-1" style="font-size:1.2em; color:orange"> </i> Edit profile</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"  style="background-color:orange; color:black">Search</button>
    </form>
  </div>
</nav>
<div class="cover" id="bgg">
  <p>_</p>
<div class="container" style="background-color:black; margin-top:20%; color:orange; text-align:center; border-radius:2%; width:50%">
    <h3 class="welcome pt-3">Hello {{user.email}}.</h3>
    <h3 class="wlcm pt-5">Welcome to your profile page.</h3>
    <br>
    <label class="pt-5 pb-5"> click here if you want to publish your</label>
    <a type="button" href="/user/publish" style="font-size:20px;">story</a>
</div>
</div>
