body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar-brand{
  font: 20px "sans-serif";
  font-weight: bold;
  margin-top: 6px;
}

.form{
  color:orange;
  font-weight: bold;
  width:40%;
  justify-content: center;
  margin: auto;
  padding: auto;
  height: 40%;
  background-color: black;
  margin-top: 50px;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#form{
  margin-top: 30px;
}

#title1{
  justify-content: center;
  margin-top: 55px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#bgg{
background-image: url("https://i.pinimg.com/originals/dd/02/04/dd020430a147e6f5734391e087529d9b.jpg");
background-size: cover;
background-repeat: repeat;
height: 110vh;
margin-top: -130px;
}
